### 문자열

In [ ]:
# ""로 감싸서 문자열 만들기
"Life is too short, you need Python."

'Life is too short, you need Python.'

In [ ]:
# ''로 감싸서 문자열 만들기
'Life is too short, you need Python.'

'Life is too short, you need Python.'

In [6]:
# """ """로 감싸서 문자열 만들기
# 안에 있는 엔터도 문자로 인식해줌!
"""Life is too short, 
    우왕
you need Python."""

'Life is too short, \n    우왕\nyou need Python.'

In [7]:
# ''' '''로 감싸서 문자열 만들기
'''Life is too short, you need Python.'''

'Life is too short, you need Python.'

In [9]:
# 세개의 따옴표로 여러 줄 문자열 만들기
print('''Life is too short.
        hello
You need Python.''')

Life is too short.
        hello
You need Python.

In [15]:
# 이스케이프 코드: \' \" \\ (작은따옴표, 큰따옴표, 백슬래시)
print('He said "It\'s Python."')
print('He said "It's Python."')

SyntaxError: unterminated string literal (detected at line 3) (363400400.py, line 3)

In [17]:
# 이스케이프 코드: \' \" \\ (작은따옴표, 큰따옴표, 백슬래시)
print("He said \"It's Python.\"")

He said "It's Python."

In [16]:
# 이스케이프 코드: \' \" \\ (작은따옴표, 큰따옴표, 백슬래시)
print('C:\\')

C:\

In [18]:
# 이스케이프 코드: \n (줄바꿈)
print("Life is too short,\nYou need Python.")

Life is too short,
You need Python.

In [21]:
# 이스케이프 코드: \t (탭)
print("Life is too short,\tYou need Python.")

Life is too short,	You need Python.

### 연산

In [30]:
# 문자열 더해서 연결하기
"Hello" + " World"

'Hello World'

In [23]:
# 문자열 곱해서 반복하기
"*" * 20

'********************'

In [31]:
# 문자열과 숫자가 더해지면 ?
"My age: " + 20

TypeError: can only concatenate str (not "int") to str

In [33]:
# 문자열 길이 구하기
len("Life is too short, You need Python.")

35

### 문자열 인덱싱

In [36]:
# 변수에 문자열 담기
msg = "Hello World"
msg

'Hello World'

In [2]:
# 문자열 인덱싱 (indexing): 컴퓨터는 0부터 시작
# [H][e][l][l][o][ ][W][o][r][l][d]
#  0  1  2  3  4  5  6  7  8  9  10
msg[4]

'o'

In [37]:
# 마지막 문자 인덱싱
msg[-1]
# 뒤에부터 찾을 때는 -1부터 시작

'd'

In [38]:
msg[0] + msg[1] + msg[2] + msg[3]

'Hell'

In [ ]:
# 문자열 슬라이싱 (slicing): 특정 범위의 문자들을 추출
# 시작 인덱스:포함, 끝 인덱스:불포함!!!
msg[0:5]
msg[:-3]

'Hello Wo'

In [ ]:
msg[3:7] # 인덱스 3부터 6까지

'lo W'

In [42]:
msg[6:] # 끝 인덱스를 생략하면 끝까지

'World'

In [44]:
msg[:5]  # 시작 인덱스를 생략하면 처음부터

'Hello'

### 포매팅

In [ ]:
# "저는 %%%%년생 입니다." 처럼 문자열 내 특정 값을 출력할 때
"저는 %d년생 입니다." % 2000

'저는 2000년생 입니다.'

In [56]:
"저는 %c입니다." %'H'

'저는 H입니다.'

In [ ]:
# 값이 대체되길 희망하는 곳에 문자열 포맷 코드 삽입
# %s: 문자열
# %c: 문자 1개
# %d: 정수
# %f: 부동소수
# %o: 8진수
# %x: 16진수
# %%: Literal % (문자 % 자체)

In [59]:
# 문자열 % 뒤에 값(들)을 넣어줌
"제 이름은 %s이고, 나이는 %d살 입니다" %("민정", 500)

'제 이름은 민정이고, 나이는 500살 입니다'

In [60]:
# 정렬과 공백
"===%10s===" % "민정" # 오른쪽 정렬, 총 10칸 확보

'===        민정==='

In [61]:
# 정렬과 공백
"===%-10s===" % "기이이임민정" # 왼쪽 정렬, 총 10칸 확보

'===기이이임민정    ==='

In [16]:
# 소수점 표현
"%.2f" % 3.14159265358979  # 소수점 2자리까지만 표현

'3.14'

In [63]:
# 소수점 표현
"===%10.3f===" % 3.14159265358979  # 소수자리 포함 총 10자리

'===     3.142==='

In [ ]:
# format 함수 사용하기
# .format 내 값 나열, 앞쪽에 0번부터 위치 나열
print("이건 {0}번째 레슨".format(1))
print("제 이름은 {}이고 나이는 {1}입니다" .format("민정",500))

이건 1번째 레슨
제 이름은 민정이고 나이는 500입니다

In [69]:
# format 함수 사용하기
# 인덱스 값 대신 이름 활용하기
print("제 이름은 {name}이고, 나이는 {age}입니다".format(name = "박성훈", age = 20))
print("제 이름은 {0}이고, 나이는 {age}입니다".format("박성훈", age = 20))
# print("제 이름은 {name}이고, 나이는 {1}입니다".format(name = "박성훈", 20))

제 이름은 박성훈이고, 나이는 20입니다
제 이름은 박성훈이고, 나이는 20입니다

In [32]:
# format 함수 사용하기: 자리 수 및 정렬
# 10자리 왼쪽 정렬
"==={0:<10}===".format('HI')

'===HI        ==='

In [33]:
# format 함수 사용하기: 자리 수 및 정렬
# 10자리 오른쪽 정렬
"==={0:>10}===".format('HI')

'===        HI==='

In [34]:
# format 함수 사용하기: 자리 수 및 정렬
# 10자리 가운데 정렬
"==={0:^10}===".format('HI')

'===    HI    ==='

In [35]:
# format 함수 사용하기: 자리 수 및 정렬
# 10자리 왼쪽 정렬 + 공백 채우기
"==={0:@<10}===".format('HI')

'===HI@@@@@@@@==='

In [36]:
# format 함수 사용하기: 소수점
"==={0:0.4f}===".format(3.14159265358979)

'===3.1416==='

In [37]:
# format 함수 사용하기: 소수점
"==={0:10.4f}===".format(3.14159265358979)

'===    3.1416==='

### f 문자열

In [70]:
# f 문자열 포매팅: 3.6 이상부터 지원
name = "민정"
age = 500
f'제 이름은 {name}이고, 나이는 {age}입니당'

'제 이름은 민정이고, 나이는 500입니당'

In [71]:
# f 문자열 포매팅
f'제 이름은 {name}이고, 나이는 {age + 99}입니다.'

'제 이름은 민정이고, 나이는 599입니다.'

In [43]:
# f 문자열 포매팅: 자리 수 및 정렬
print(f'제 이름은 {name:<10}이고, 나이는 {age:>10}입니다.')
print(f'제 이름은 {name:=^10}이고, 나이는 {age:10.4f}입니다.')

제 이름은 박성훈       이고, 나이는         20입니다.
제 이름은 ===박성훈====이고, 나이는    20.0000입니다.

### 문자열 함수

In [ ]:
# count: 문자열 내 해당 단어 숫자 세기
ex = "starbucks"
print("s: %d"%(ex.count('s'))) # %를 기준으로 오른쪽에 있는 값을 %d에 넣어라
print("star: %d"%(ex.count('star')))

s: 2
star: 1

In [5]:
# find: 문자열 내 해당 단어 첫 위치(index) 찾기
# 없으면 -1
ex = "starbucks"
print("s: %d"%(ex.find('s')))
print("z: %d"%(ex.find('z')))

s: 0
z: -1

In [73]:
# index: 문자열 내 해당 단어 첫 위치(index) 찾기
# 없으면 Error
ex = "starbucks"
print("s: %d"%(ex.index('s')))
print("z: %d"%(ex.index('z')))

s: 0

ValueError: substring not found

In [75]:
# upper: 소문자를 대문자로 변경
ex = "startbucks"
print(ex.upper())

ex = "StfasdrD"
print(ex.upper())

STARTBUCKS
STFASDRD

In [9]:
# lower: 대문자를 소문자로 변경
ex = "STARBUCKS"
print(ex.lower())

starbucks

In [ ]:
# lstrip: 왼쪽 공백 지우기
# rstrip: 오른쪽 공백 지우기
# strip: 양쪽 공백 지우기
ex = " abc "
print("[" + ex.lstrip() + "]")
print("[" + ex.rstrip() + "]")
print("[" + ex.strip() + "]")

[abc ]
[ abc]
[abc]

In [77]:
# replace: 문자열 바꾸기
ex = "starbucks"
print(ex.replace('s', 'Moon'))

MoontarbuckMoon

In [85]:
# join: 문자열 각 사이에 해당 문자 삽입
# 연속적인 애들을, " " 얘를 기반으로 합친다..
print("*".join("MerryChristmas"))
print(" ".join("starbucks"))
print("/".join("HappyNewYear"))

print("".join(["1","2","3"]))

M*e*r*r*y*C*h*r*i*s*t*m*a*s
s t a r b u c k s
H/a/p/p/y/N/e/w/Y/e/a/r
123

In [84]:
# split: 특정 문자 기준으로 나누기 => 나눈 결과는 List로 반환
ex = 's t a r b u c k s'
# 비어있으면 공백 기준으로 나눔
ex.split()

['s', 't', 'a', 'r', 'b', 'u', 'c', 'k', 's']

In [16]:
# split: 특정 문자 기준으로 나누기 => 나눈 결과는 List로 반환
ex = 'noii@kkokiyo.app'
# 나눌 기준을 주면...
ex.split('@')

['noii', 'kkokiyo.app']

In [18]:
# split: 특정 문자 기준으로 나누기 => 나눈 결과는 List로 반환
ex = 'abcdefg'
# 나눌 기준이 존재하지 않으면...
ex.split('z')

['abcdefg']

In [ ]:
# EOD.