### 리스트

In [ ]:
# 순서가 있는 데이터의 모음
# [1, 2, 3] 와 같이 [] 내 데이터 나열
# 첫번째부터 0 인덱스로 접근 가능

In [ ]:
l1 = []                 # 비어있는 리스트
l2 = [1, 2, 3]          # 3개의 값이 들어있는 리스트
l3 = [1, 'B', 3, 'D']   # 여러 데이터 타입이 들어가 있을 수도
l4 = [1, 2, [3, 4]]     # 리스트 내 리스트도 가능

len(l4)

3

In [3]:
# 리스트의 길이
l = [1, 2, 3]
len(l)

3

In [8]:
# 리스트의 인덱싱
l = [1, 2, 3]
l[0] + l[2] # 1 + 3

4

In [5]:
# 리스트의 인덱싱
l = [1, 2, [3, 4]]
print(l[-1])
print(l[2])
print(l[2][0])

[3, 4]
[3, 4]
3

In [9]:
# 리스트 슬라이싱
l = [1, 2, 3, 4, 5]
l[0:2] # 부분도 리스트

[1, 2]

In [10]:
# 리스트 슬라이싱
l = [1, 2, 3, 4, 5]
print(l[2:])
print(l[:2])

[3, 4, 5]
[1, 2]

### 리스트 연산

In [12]:
# 리스트 더하기
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l1 + l2
l2 + l1

[4, 5, 6, 1, 2, 3]

In [13]:
# 리스트 반복하기
l = [1, 2, 3]
l * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
# 리스트 반복하기: 0이 10개
l = [0] * 10
print(l)

# 초기화 해주는 코드로 많이 사용한다~~

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
# 리스트 수정
l = [1, 2, 3]
l[2] = 4
print(l)

[1, 2, 4]

In [19]:
# 리스트 요소 삭제
l = [1, 2, 3]
del l[2]
print(l)

[1, 2]

In [20]:
# 리스트 요소 삭제: 여러개
l = [1, 2, 3, 4, 5, 10]
del l[1:]
print(l)

[1]

### 리스트 함수

In [ ]:
# append: 뒤에 값 추가하기
l = [1, 2, 3]
l.append(5)
# 여러개 붙이고 싶으면 extend 사용하기
# l.extend([3,41])
# 혹은 더하면 되지요
l2 = [ 54, 34234, 1]
l = l + l2
print(l)

[1, 2, 3, 5, 54, 34234, 1]

In [30]:
# sort: 정렬하기: 오름차순
l = [5, 6, 3, 1]
l.sort()
print(l)

[1, 3, 5, 6]

In [ ]:
# sort: 정렬하기: 내림차순
l = [5, 6, 3, 1]
l.sort(reverse = True)
print(l)

[6, 5, 3, 1]

In [35]:
# reverse: 순서 뒤집기
l = [1, 2, 3]
l.reverse()
print(l)
l.reverse()
print(l)

[3, 2, 1]
[1, 2, 3]

In [ ]:
# insert: 특정 위치에 값 삽입하기
l = [1, 3, 4]
# insert(i, V)
# i: index (2번째 >> 1)
# V: Value
l.insert(1, 2)
print(l)

[1, 2, 3, 4]

In [ ]:
# index: 해당 값 존재시 index 값 반환
# 없으면 에러
l = [1, 2, 3]
print(l.index(1))
print(l.index(4))

# find는 리스트에 없음!

0

ValueError: 4 is not in list

In [38]:
# remove: 해당 값 삭제 (앞에서 부터 1개만)
l = [1, 2, 3, 1, 2, 3]
l.remove(1)
print(l)

[2, 3, 1, 2, 3]

In [ ]:
# pop: 맨 마지막 값 꺼내기, 빠져나오다
l = [1, 2, 3]
print(l.pop()) # 맨 마지막 요소 꺼내와서, 준다
print(l)

l2 = [1, 2, 4, 104, 2931, 9]
print(l2.pop())
print(l2)

3
[1, 2]
9
[1, 2, 4, 104, 2931]

In [44]:
# count: 요소 개수 세기
l = [1, 2, 3, 1, 2, 3, 11, 1]
l.count(1)

3

In [45]:
# extend: 리스트 확장 (List + List 동일)
l = [1, 2, 3]
l.extend([4, 5])
print(l)

[1, 2, 3, 4, 5]

In [ ]:
# 리스트의 복사
l1 = [1, 2, 3]
l2 = l1

print("변경 전")
print(l1)
print(l2)

l1[0] = 4
print("변경 후")
print(l1)
print(l2) # l2에 있는 값도 같이 바뀜

print("=" * 10)
print(f"l1: {id(l1)}") # 메모리 상에서의 주소가 동일하다~
print(f"l2: {id(l2)}")
# 값을 위한 공간을 주고, 가르키게 만든다.

변경 전
[1, 2, 3]
[1, 2, 3]
변경 후
[4, 2, 3]
[4, 2, 3]
==========
l1: 1567100932352
l2: 1567100932352

In [ ]:
# 리스트의 복사
l1 = [1, 2, 3]
l2 = l1[:] # 주소가 아니라 내용물만 넘겨준 거임

print("변경 전")
print(l1)
print(l2)

l1[0] = 4
print("변경 후")
print(l1)
print(l2)

print("=" * 10)
print(f"l1: {id(l1)}")
print(f"l2: {id(l2)}")

변경 전
[1, 2, 3]
[1, 2, 3]
변경 후
[4, 2, 3]
[1, 2, 3]
==========
l1: 1567101952768
l2: 1567101366528

In [ ]:
# 리스트의 복사 (soft copy를 피하기 위해 deep copy라는 방식이 있음)
l1 = [1, 2, [3, 4]]
l2 = l1[:]
print("변경 전")
print(l1)
print(l2)

l1[2][0] = 4
print("변경 후")
print(l1)
print(l2)

print("=" * 10)
print(f"l1: {id(l1[2])}")
print(f"l2: {id(l2[2])}")

변경 전
[1, 2, [3, 4]]
[1, 2, [3, 4]]
변경 후
[1, 2, [4, 4]]
[1, 2, [4, 4]]
==========
l1: 1567101952704
l2: 1567101952704

In [ ]:
# EOD.