### 사용자 입출력

In [ ]:
# 사용자로부터 값을 입력받기
# input()

In [ ]:
# 화면 위쪽에 입력 창이 나옵니다
# 사용자에게 입력받는 값은 모두 문자열

a = input()
print(f"{a} / type: {type(a)}")

3 / type: <class 'str'>

In [ ]:
# 입력 프롬프트 띄우기
birth = input("생년월일 6자리 숫자(Ex: 000101):")
print(birth)

001122

### 형변환 (casting)

In [ ]:
# 다음 결과 값을 확인하세요

n1 = "3"
n2 = "5"
print(n1 + n2)

n1 = 3
n2 = "5"
print(n1 + n2)

35

In [7]:
# 데이터 타입 간의 변환, 형변환
# 바꾸고자 하는 타입(값)
# ex: int(str)
# ex: str(int)

n1 = "3"
n2 = "5"
print(int(n1) + int(n2))
n3 = "^^"
print(int(n3))

8

ValueError: invalid literal for int() with base 10: '^^'

In [9]:
# 데이터 타입 간의 변환, 형변환
# 바꾸고자 하는 타입(값)
# ex: int(str)
# ex: str(int)

n1 = 3
n2 = 5
print(str(n1) + str(n2))
print("%d"%n1 + "%d"%n2)

35
35

In [ ]:
# EOD.