### 내장함수

In [ ]:
# python 자체적으로 기능을 우선 개발하여 제공하는 함수

In [1]:
# abs: 절대 값
print(abs(3))
print(abs(-3))

3
3

In [17]:
# min: 최솟값 리턴
min([1, 2, 3, 4, 5])

1

In [18]:
# max: 최댓값 리턴
max([1, 2, 3, 4, 5])

5

In [23]:
# sum: 데이터의 합
sum([1, 2, 3])

6

In [24]:
# pow: x의 y 제곱
pow(2, 4)

16

In [ ]:
# round: 반올림 함수
print(round(4.6))
print(round(4.2))
# 두번째 인자로 자릿 수 입력 가능
print(round(5.678, 2))

5
4
5.68

In [3]:
# chr: 유니코드 숫자 값을 받아 해당하는 문자로 반환
print(chr(97))
print(chr(44032))

a
가

In [4]:
# ord: 문자의 유니코드 숫자 반환
print(ord('a'))
print(ord('나'))

97
45208

In [4]:
# int: 문자열 정수형 숫자로 변환
print(int('3') + int(3.4))

6

In [5]:
# str: 문자열 형태로 변환
print(str(3) + str('hi'))

3hi

In [13]:
# list: 반복 가능한 데이터를 리스트 형태로 변환
print(list("python"))
print(list((1, 2, 3)))

['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]

In [6]:
# enumerate: 순서가 있는 데이터를 인덱스 값과 함께 나열
for i, name in enumerate(['psh', 'pjh', 'pja']):
    print(f"{i}: {name}")

0: psh
1: pjh
2: pja

In [ ]:
# filter: 특정 조건에 만족하는 데이터만 가져오기

def positive(n):
    return n > 0

print(list(filter(positive, [1, -3, 2, 0, -5, 6])))
print(list(filter(lambda  x: x > 0, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]
[1, 2, 6]

In [15]:
# map: 반복 가능한 데이터 각 요소에 특정 함수 동작한 결과값으로 대체

def two_times(x):
    return x * 2

print(list(map(two_times, [1, 2, 3, 4])))
print(list(map(lambda x : x * 2, [1, 2, 3, 4])))

[2, 4, 6, 8]
[2, 4, 6, 8]

In [22]:
#sorted: 정렬하여 반환
a = [3, 1, 2]
print(sorted(a))
print(a)

[1, 2, 3]
[3, 1, 2]

In [27]:
# id: 객체의 고유 주솟값 반환
a = 3
b = a
c = 4
print(id(a))
print(id(3))
print(id(b))
print(id(c))
print(id(4))

140709546730680
140709546730680
140709546730680
140709546730712
140709546730712

In [ ]:
# isinstance: 해당 객체가 클래스의 인스턴스인지 판단
class Person: pass
a = Person()
print(isinstance(a, Person))
print(isinstance(10, int))
print(isinstance(10, str))

True
True
False

:

In [ ]:
# EOD.