In [78]:
import pandas as pd

# 1. 데이터 불러오고 훑어보기

movie_df = pd.read_csv('korea_movie_best.csv')
print(movie_df.head())
print("-"*20)
print(movie_df.info())

          영화명      감독   장르  개봉연도   관객수    평점
0          명량     김한민   사극  2014  1761  8.88
1        극한직업     이병헌  코미디  2019  1626  9.20
2   신과함께-죄와 벌     김용화  판타지  2017  1441  8.73
3        국제시장     윤제균  드라마  2014  1425  9.16
4  어벤져스: 엔드게임  안소니 루소   액션  2019  1393  9.50
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     10 non-null     object
 1   감독      10 non-null     object
 2   장르      10 non-null     object
 3   개봉연도    10 non-null     int64
 4   관객수     10 non-null     int64
 5   평점      10 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 612.0+ bytes
None

In [79]:
# [미션 2] 데이터 선택하기 (Indexing)
# 영화 제목(영화명)을 인덱스로 지정(set_index)하여 새로운 변수 df_index에 저장하세요.
df_index = movie_df.set_index('영화명')
print(df_index)

# loc을 사용하여 영화 '기생충'의 '평점'을 찾아 출력하세요.
print('\n기생충 평점', df_index.loc['기생충', '평점'])

                감독     장르  개봉연도   관객수    평점
영화명
명량             김한민     사극  2014  1761  8.88
극한직업           이병헌    코미디  2019  1626  9.20
신과함께-죄와 벌      김용화    판타지  2017  1441  8.73
국제시장           윤제균    드라마  2014  1425  9.16
어벤져스: 엔드게임  안소니 루소     액션  2019  1393  9.50
기생충            봉준호    드라마  2019  1008  9.07
겨울왕국 2       크리스 벅  애니메이션  2019  1374  8.95
베테랑            류승완     액션  2015  1341  9.24
도둑들            최동훈     범죄  2012  1298  7.64
7번방의 선물        이환경    코미디  2013  1281  8.83

기생충 평점 9.07

In [80]:
# [미션 3] 조건으로 필터링하기 (Boolean Indexing)
# 관객수가 1400만 명을 넘는 초대박 영화만 골라내서 hit_movie 변수에 저장하세요.
hit_movie = df_index[df_index['관객수'] > 1400]
print(hit_movie)

# 장르가 '코미디'인 영화만 골라내서 출력하세요.
comedy = df_index[df_index['장르'] == '코미디']
print('\n코미디', comedy)

            감독   장르  개봉연도   관객수    평점
영화명
명량         김한민   사극  2014  1761  8.88
극한직업       이병헌  코미디  2019  1626  9.20
신과함께-죄와 벌  김용화  판타지  2017  1441  8.73
국제시장       윤제균  드라마  2014  1425  9.16

코미디           감독   장르  개봉연도   관객수    평점
영화명
극한직업     이병헌  코미디  2019  1626  9.20
7번방의 선물  이환경  코미디  2013  1281  8.83

In [81]:
# [미션 4] 데이터 정렬 및 파생변수 (Sorting & Calculation)
# 전체 영화를 평점이 높은 순서대로(내림차순) 정렬해서 1위부터 3위까지만 출력하세요.
score_top3 = df_index.sort_values(by='평점', ascending=False)[:3] #.head(3) 써도 됨
print(score_top3)

# 영화 티켓 가격이 10,000원이라고 가정합니다. 관객수 * 10,000 을 계산하여 매출액이라는 새로운 컬럼을 만드세요
df_index['매출액'] = df_index['관객수'] * 10000
df_index[['관객수', '평점']].head()

                감독   장르  개봉연도   관객수    평점
영화명
어벤져스: 엔드게임  안소니 루소   액션  2019  1393  9.50
베테랑            류승완   액션  2015  1341  9.24
극한직업           이병헌  코미디  2019  1626  9.20

             관객수    평점
영화명
명량          1761  8.88
극한직업        1626  9.20
신과함께-죄와 벌   1441  8.73
국제시장        1425  9.16
어벤져스: 엔드게임  1393  9.50

### 드러운 데이터 처리하기

In [82]:
import numpy as np

dirty_data = {
    '날짜': ['2026-01-01', '2026-01-02', '2026-01-02', '2026-01-03', '2026-01-04'],
    '상품명': ['아메리카노', '카페라떼', '카페라떼', '바닐라라떼', np.nan],
    '가격': ['4,000', '4,500', '4,500', '5000', '5,500'],
    '판매수량': [50, 30, 30, np.nan, 15]
}

df = pd.DataFrame(dirty_data)
print("--- 원본 데이터 ---")
print(df)
print("\n--- 정보 확인 ---")
print(df.info())

--- 원본 데이터 ---
           날짜    상품명     가격  판매수량
0  2026-01-01  아메리카노  4,000  50.0
1  2026-01-02   카페라떼  4,500  30.0
2  2026-01-02   카페라떼  4,500  30.0
3  2026-01-03  바닐라라떼   5000   NaN
4  2026-01-04    NaN  5,500  15.0

--- 정보 확인 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      5 non-null      object
 1   상품명     4 non-null      object
 2   가격      5 non-null      object
 3   판매수량    4 non-null      float64
dtypes: float64(1), object(3)
memory usage: 292.0+ bytes
None

In [83]:
print("--- 1. 결측치 확인 ---")
print(df.isnull().sum()) # col별 빈 칸 개수 세기

--- 1. 결측치 확인 ---
날짜      0
상품명     1
가격      0
판매수량    1
dtype: int64

In [84]:
# 1. 결측치 있는 행 제거 (원본 보호를 위해 새로운 변수에!!)
df_dropped = df.dropna()
print("[삭제 후]")
print(df_dropped)

[삭제 후]
           날짜    상품명     가격  판매수량
0  2026-01-01  아메리카노  4,000  50.0
1  2026-01-02   카페라떼  4,500  30.0
2  2026-01-02   카페라떼  4,500  30.0

In [85]:
# 2.결측치 채우기 (판매수량이 비어있으면 0으로 채움)
# 원본 df에 바로 적용하려면 inplace=True를 쓰거나 재할당
df['판매수량'] = df['판매수량'].fillna(0)
print("[0으로 채운 후]")
print(df)

[0으로 채운 후]
           날짜    상품명     가격  판매수량
0  2026-01-01  아메리카노  4,000  50.0
1  2026-01-02   카페라떼  4,500  30.0
2  2026-01-02   카페라떼  4,500  30.0
3  2026-01-03  바닐라라떼   5000   0.0
4  2026-01-04    NaN  5,500  15.0

In [86]:
# 상품명은 채울 수 없으니 '알수없음'으로 채우기
df['상품명'] = df['상품명'].fillna('IDK??')
print(df)

           날짜    상품명     가격  판매수량
0  2026-01-01  아메리카노  4,000  50.0
1  2026-01-02   카페라떼  4,500  30.0
2  2026-01-02   카페라떼  4,500  30.0
3  2026-01-03  바닐라라떼   5000   0.0
4  2026-01-04  IDK??  5,500  15.0

In [87]:
print("--- 2. 중복 제거 전 ---")
print(len(df))

# 중복된 행 제거 (keep='first'는 첫번째만 남기고 뒤에 나온 건 지움)
df = df.drop_duplicates()

print("\n--- 중복 제거 후 ---")
print(df)

--- 2. 중복 제거 전 ---
5

--- 중복 제거 후 ---
           날짜    상품명     가격  판매수량
0  2026-01-01  아메리카노  4,000  50.0
1  2026-01-02   카페라떼  4,500  30.0
3  2026-01-03  바닐라라떼   5000   0.0
4  2026-01-04  IDK??  5,500  15.0

In [ ]:
print("--- 3. 타입 변환 ---")

# 1. 쉼표 없애기
df['가격'] = df['가격'].str.replace(',', '')

# 2. int로 변환
df['가격'] = df['가격'].astype(int)

print("\n 변환 후 정보")
print(df.info()) # 가격이 int로 바뀐 것 확인
print("\n평균 가격", df['가격'].mean())

--- 3. 타입 변환 ---

 변환 후 정보
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      4 non-null      object
 1   상품명     4 non-null      object
 2   가격      4 non-null      int64
 3   판매수량    4 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 160.0+ bytes
None

평균 가격 4750.0

### user data

In [90]:
user_data = {
    '가입일': ['2023.01.05', '2023.12.25', '2024.05.05'],
    '이메일': ['kim@naver.com', 'lee@gmail.com', 'park@daum.net'],
    '나이': [25, 35, 19]
}

df_user = pd.DataFrame(user_data)
print(df_user)

          가입일            이메일  나이
0  2023.01.05  kim@naver.com  25
1  2023.12.25  lee@gmail.com  35
2  2024.05.05  park@daum.net  19

In [ ]:
print("--- 1. 아이디만 추출 (split) ---")
# @ 기준으로 쪼개고, 그 중 첫번째 가져오기
df_user['아이디'] = df_user['이메일'].str.split('@').str[0]
display(df_user)

print("--- 2. 특정 글자 포함 여부 (contains) ---")
# 네이버 사용자만 찾기 (엑셀의 필터)
naver_user = df_user[df_user['이메일'].str.contains('naver')]
print(naver_user)

--- 1. 아이디만 추출 (split) ---

          가입일            이메일  나이   아이디
0  2023.01.05  kim@naver.com  25   kim
1  2023.12.25  lee@gmail.com  35   lee
2  2024.05.05  park@daum.net  19  park

--- 2. 특정 글자 포함 여부 (contains) ---
          가입일            이메일  나이  아이디
0  2023.01.05  kim@naver.com  25  kim

In [99]:
print("--- 3. 날짜 변환 및 정보 추출 ---")

# 1. 글자 -> 날짜로 변환 (형식 지정이 필요할 수 있음)
df_user['가입일'] = pd.to_datetime(df_user['가입일'])
print(df_user['가입일'].info())

# 2. 연, 월, 요일 추출 (.dt 사용)
df_user['가입연도'] = df_user['가입일'].dt.year
df_user['가입월'] = df_user['가입일'].dt.month
df_user['가입요일'] = df_user['가입일'].dt.day_name() # 영어 요일

print(df_user)

--- 3. 날짜 변환 및 정보 추출 ---
<class 'pandas.core.series.Series'>
RangeIndex: 3 entries, 0 to 2
Series name: 가입일
Non-Null Count  Dtype
--------------  -----
3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 156.0 bytes
None
         가입일            이메일  나이   아이디  가입연도  가입월      가입요일
0 2023-01-05  kim@naver.com  25   kim  2023    1  Thursday
1 2023-12-25  lee@gmail.com  35   lee  2023   12    Monday
2 2024-05-05  park@daum.net  19  park  2024    5    Sunday

In [101]:
print("--- 4. apply 함수 활용 ---")

#  나이에 따라 '청년'과 '중년'을 구분하는 함수 만들기
def get_age_group(age):
    if age < 30:
        return '청년'
    else:
        return '중년'
    
# 이 함수를 '나이' 컬럼의 모든 데이터에 적용
df_user['연령대'] = df_user['나이'].apply(get_age_group)

display(df_user)

--- 4. apply 함수 활용 ---

         가입일            이메일  나이   아이디  가입연도  가입월      가입요일 연령대
0 2023-01-05  kim@naver.com  25   kim  2023    1  Thursday  청년
1 2023-12-25  lee@gmail.com  35   lee  2023   12    Monday  중년
2 2024-05-05  park@daum.net  19  park  2024    5    Sunday  청년

In [107]:
# 갑자기 내가 태어난 날 요일 궁금해짐...

date = '1994.07.01'
date = pd.to_datetime(date)

date.day_name()

'Friday'